
main {
  margin: 0 auto;
}

.card__produts {
  transition: transform 0.3s ease;
}
.card__produts:hover {
  transform: scale(0.9);
}


#myRange {
  width: 100%;
}

#myRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

#myRange::-webkit-slider-thumb:hover {
  background-color: #555;
}

#tickmarks {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#tickmarks option {
  position: relative;
  flex: 1;
  height: 2px;
  background-color: #000;
  transform-origin: left;
}

#tickmarks option:before {
  content: attr(label);
  position: absolute;
  top: -15px;
  transform: translateX(-50%);
  font-size: 12px;
}

#myRange::-webkit-slider-thumb {
  z-index: 2;
}

#tickmarks option:last-child {
  flex: 0;
}









